{block content}
<h1>Edookit synchronizace zaku</h1>
<p><a n:href="Homepage:default">← Zpět domu</a> <a n:href="Edookit:">← Zpět do menu Edookit</a></p>

Skola: {$SkolaNazev} <br>
Skolni rok: {$SkolniRok}<br>
Pololeti: {$Pololeti} <br>
Pocet trid zaku: {$pocetTrid} <br>
Pocet novych zaznamu zaku: {$new} <br>
Pocet editovanych zaznamu zaku: {$edit} <br>
<br>
Pocet novych zaznamu pracovniku: {$new_pracovnici} <br>
Pocet editovanych zaznamu pracovniku: {$edit_pracovnici} <br>
